@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Google Sans Code", monospace;
  --font-display-optical-sizing: auto;
  --font-display-style: normal;
}
